[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DIZtools"]
	path = DIZtools
	url = https://github.com/miracum/misc-diztools
[submodule "DIZutils"]
	path = DIZutils
	url = https://github.com/miracum/misc-dizutils
[submodule "DQAgui"]
	path = DQAgui
	url = https://github.com/miracum/dqa-dqagui
[submodule "DQAstats"]
	path = DQAstats
	url = https://github.com/miracum/dqa-dqastats
